body {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: Ubuntu;
}
.logo-link {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}
.logo-link:hover {
  color: #3cb878;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 79px 18px 79px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.icons-item {
  margin-left: 24px;
}
.icons {
  display: flex;
}
.transparent-button {
  margin-left: 53px;
}
.header-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: medium none;
  background-image: none;
  background-color: transparent;
}
.main {
  position: relative;
}
.form {
  width: 444px;
  margin: 54px auto;
  height: 597px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  /* место margin :
  position: absolute;
  top: calc(50% + 112px);
  left: 50%;
  transform: translate(-50%, -50%); */
}

.option-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: underline;
  border: medium none;
  background-image: none;
  background-color: transparent;
  margin: 33px 59px 16px;
}
.option-item-create::before {
  content: url(../img/shape.png);
  position: absolute;
  left: 0;
  top: 29px;
}
.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.option-item:hover {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  text-decoration: none;
  margin: 31px 59px 12px;
}
.masanger {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  margin-left: 60px;
}
.masanger-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 31px;
}
.masanger-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  padding: 17px 22px 15px 16px;
  color: #ffffff;
}
.masanger-svg {
  fill: #ffffff;
  max-width: 100%;
}
.icons-item-link:hover .icons-item-fill {
  fill: #3cb878;
}
.accent-color:hover {
  color: #3cb878;
}
.masanger-item-f {
  background: #305db8;
  padding-left: 10px;
}
.masanger-item-g {
  background: #df4a32;
  padding-left: 20px;
}
.masanger-item-f:hover {
  background: #022263;
}
.masanger-item-g:hover {
  background: #ab1f09;
}
.masanger-item-text-f:before {
  content: "";
  border-left: 1px solid #0a162f;
  height: 28px;
  margin-right: 16px;
  opacity: 0.1;
}
.masanger-item-text-g:before {
  content: "";
  border-left: 1px solid #2b0d09;
  height: 28px;
  margin-right: 18px;
  opacity: 0.1;
}
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #848484;
}
.text::after {
  content: "";
  display: inline-block;
  width: 152px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  vertical-align: middle;
  margin-left: 5px;
}
.text::before {
  content: "";
  display: inline-block;
  width: 152px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  vertical-align: middle;
  margin-right: 5px;
}
.form-element {
  margin: 15px 61px;
}

input {
  display: block;
  padding: 14px 19px;
  width: 322px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form-element-checkbox {
  display: block;
  position: relative;
  margin-left: 61px;
  margin-right: 61px;
  padding: 3px 0 10px 35px;
}
.form-element-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.form-element-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.form-element-checkbox .checkmark:after {
  left: 2px;
  top: 1px;
  height: 20px;
  width: 20px;
  background-image: url(../img/Vector\ 1.svg);
  background-repeat: no-repeat;
}
.button-create {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  text-align: center;
  margin: 10px 60px 38px 60px;
  padding: 15px 106px;
}
.button-create:hover {
  background: #01813f;
}
