body {
  background-color: #000;
  font-family: Roboto;
  overflow: hidden;
  perspective: 6000px;
}

.container {
  display: block;
  width: 700px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  animation-name: test-animation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: zoom-in;
  color: gold;
  font-size: 50px;
  line-height: 2em;
  font-weight: bold;
}
.text-title {
  text-align: center;
  font-weight: bold;
}
.text {
  text-align: left;
}

@keyframes test-animation {
  0% {
    padding-top: 500px;
    transform: scale3d(1, 1, 4) rotatex(50deg);
  }
  100% {
    padding-top: 50px;
    transform: translateZ(-2000px);
    transform: scale3d(0.1, 0.1, 5) rotatex(70deg);
  }
}
