.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 550px;
  margin: 26px auto;
}
.nav-list {
  display: inline-block;
  text-align: center;
}
.nav-link {
  text-transform: uppercase;
  color: #ff0000;
  text-decoration: none;
}

.img {
  width: 1280px;
  height: 789px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slogan {
  width: 774px;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  display: flex;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  padding: 48px 253px;
  margin-left: auto;
  margin-right: auto;
}
.text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  width: 1125px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  max-width: 190px;
  padding-top: 66px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.link-like-button {
  color: #ffff;
  text-align: center;
  padding: 18px 42px;
  border: 1px solid #ff0000;
  background-color: #ff0000;
  border-radius: 4px;
  text-decoration: none;
}
.text-footer {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  padding-top: 82px;
  padding-right: 105px;
  text-align: right;
}
