.container {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-size: 80px;
  line-height: 94px;
  display: flex;
  justify-content: flex-start;
  color: #000000;
  padding-bottom: 38px;
  padding-top: 63px;
}

.logo-link {
  text-decoration: none;
  margin: 0;
  color: inherit;
}

span {
  color: #4bcaff;
}

.navigation {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #35444f;
  height: 72px;
  margin-bottom: 48px;
}

.nav-li {
  display: inline-block;
  border-left: 1px solid #ffffff;
  padding: 23px 40px;
}

.nav-li:last-child {
  border-right: 1px solid #ffffff;
}
.nav-li:hover {
  background-color: #222f3a;
}
.nav-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.block {
  display: flex;
}
.aside {
  display: inline-block;
  border: 1px solid #000000;
  width: 344px;
  height: 407px;
}
.sidebar-li {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 44px;
}
.sidebar-li:hover {
  background-color: #dbdbdb;
  text-align: center;
}
.sidebar-link {
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}
.sidebar-link:hover {
  color: #35444f;
}
.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 885px;
  height: 529px;
  margin-left: 52px;
  border: 1px solid #000;
}
.image {
  height: 381px;
  width: 320px;
  transition: transform 0.25s;
}
.image:hover {
  transform: scale(1.3);
}
.info {
  display: inline-block;
}
.text {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  width: 885px;
  text-align: start;
  margin-left: 396px;
  margin-top: 37px;
}
.footer-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 54px;
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
  margin-bottom: 30px;
}
.footer-nav {
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.nav-link-footer {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
}
.nav-link-footer:hover {
  text-decoration: underline;
  color: #3181a6;
}
.copy {
  text-align: center;
  margin: auto;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin-left: 130px;
}
