.arr-list {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 30px;
  list-style-type: circle;
}
.liArr-item {
  list-style-type: disc;
}
.timer {
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
  color: rgb(110, 22, 26);
}
