body {
  width: 100%;
  font-family: Montserrat;
  overflow-x: hidden;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.header-section {
  width: 100%;
  background-image: url("../img/backgroundHeader.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.header-navigation {
  text-decoration: none;
  background: rgba(94, 93, 88, 0.6);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 20px;
}
.header-nav-list {
  position: relative;
  display: flex;
  list-style-type: none;
  margin-left: 305px;
}
.header-logo-img {
  height: 68px;
}
.header-nav-item {
  position: relative;
  padding-left: 22px;
  list-style-type: none;
}
.header-nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 48px;
}
.header-nav-link:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}

.header-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 264px;
  padding-bottom: 25px;
}
.green-color {
  color: #18cfab;
}
.search-img {
  height: 20px;
  margin-left: 20px;
}
.general-title {
  text-align: center;
}
.header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 25px 0;
}
.header-text {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 30px;
  color: #d4d4d4;
  padding: 25px 0;
}
.general-buttons {
  padding: 134px 26px 243px 26px;
}
.button {
  background: #18cfab;
  width: 169px;
  padding: 16px 0px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 26px;
  box-shadow: 0px -5px #ffffff;
}

.button.button-blue {
  background-color: #00cbf6;
}
.link-btn {
  color: #ffffff;
}
.button.load {
  box-shadow: none;
  margin: 70px 0px 99px;
}
.advantage {
  display: flex;
  margin-top: 8px;
}
.advantage-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #1c2a33;
  flex-grow: 1;
  flex-wrap: wrap;
}
.advantage-item-green {
  background-color: #18cfab;
}
.advantage-img {
  max-width: 100%;
  margin-top: 95px;
}
.advantage-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #18cfab;
  margin: 58px 0px 103px;
}
.advantage-title-white {
  color: #ffffff;
}
.title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  padding-top: 90px;
}
.title::after {
  content: url("../img/style-copy.png");
  width: 60px;
  display: block;
  margin: auto;
}
.services-list {
  display: flex;
  justify-content: space-between;
  margin-top: 68px;
}
.services-item {
  width: 194px;
  border: 1px solid #dadada;
  flex-grow: 1;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  padding: 27px 0px;
  color: #717171;
  cursor: url(../img/cursor.png), pointer;
}
.services-item:hover {
  border: 2px solid #18cfab;
  padding: 25px 0px;
}
.services-item.active {
  background-color: #18cfab;
  padding: 25px 0px;
}
.services-item.active::after {
  content: url(../img/triangle.png);
  position: relative;
  top: 41px;
  right: 50px;
}
.services-item-content {
  display: none;
}
.services-item-content.active-desc {
  display: flex;
  padding-top: 23px;
}
.services-item-content-img {
  width: 192px;
  height: 139px;
}
.services-item-content-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-left: 15px;
  align-items: center;
}
.install {
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  max-width: 100% 100%;
  text-align: center;
  margin-top: 91px;
}
.install-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
  padding-top: 126px;
}
.install-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  padding-top: 13px;
}
.button.install-btn {
  margin: 67px auto 120px;
}
.our-work {
  background-color: #e9edef;
  text-align: center;
}
.our-work-item.active {
  border: 2px solid #18cfab;
}
.our-work-list {
  display: flex;
  justify-content: center;
  margin-top: 68px;
  margin-bottom: 71px;
}
.our-work-item {
  border: 1px solid #dadada;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #717171;
  padding: 14px 15px;
}

.work-photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 210px;
  list-style: none;
}
.work-photo-list {
  position: relative;
  text-align: center;
}
.work-photo-description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e9edef;
  height: 100%;
  border-top: 5px solid #18cfab;
  display: none;
  background-color: #e9edef;
  cursor: url(../img/cursor.png), pointer;
}
.work-photo-list:hover .work-photo-description {
  display: block;
}
.work-photo-description-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #18cfab;
  padding: 24px 74px 10px 82px;
}
.work-photo-description-text {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 25px;
  align-items: center;
  color: #8a8a8a;
}
.work-photo-img {
  width: 285px;
  height: 206px;
}
.work-photo-icon {
  margin-top: 42px;
  cursor: url(../img/cursor.png), pointer;
}
.work-photo.additionally {
  display: none;
}
.news-link {
  position: relative;
}
.news-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat (2, auto);
  gap: 35px;
  margin-top: 73px;
}
.news-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18x;
  line-height: 39px;
  text-align: center;
  color: #203e38;
  padding-top: 5px;
}
.news-text-link {
  display: inline-block;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  text-align: center;
  color: #777777;
  padding-right: 15px;
}
.news-text-link-special:after {
  content: "";
  border-right: 1px solid #777777;
  margin-left: 15px;
}
.news-img {
  object-fit: cover;
  width: 100%;
}
.news-date {
  display: inline-block;
  max-width: min-content;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #203e38;
  padding: 8px 15px;
  position: absolute;
  right: 0;
}
.news-details {
  display: flex;
  justify-content: center;
}
.news-item:hover .news-date {
  background-color: #18cfab;
}
.news-item:hover .news-title {
  color: #18cfab;
}
.people-say {
  background-image: url("../img/background3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin-top: 128px;
  width: 100%;
  padding-bottom: 40px;
}
.title.people-say {
  color: #ffffff;
}
.comment {
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #bbbbbb;
  margin-bottom: 37px;
}
.comment::before {
  content: url("../img/quotes.png");
  width: 200px;
  display: block;
  margin: 66px auto 36px auto;
}
.commentator-name {
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  margin-bottom: 10px;
}
.commentator-specialty {
  font-style: normal;
  font-size: 12px;
  text-align: center;
  color: #bbbbbb;
}
.image-people-say {
  object-fit: cover;
  display: block;
  width: 166px;
  height: 166px;
  margin: 50px auto 57px auto;
  max-width: 100%;
}

.swiper-button-back,
.swiper-button-forvard {
  display: block;
  border: 2px solid #ffffff;
  padding: 8px 10px;
  width: 31px;
  height: 31px;
  position: sticky;
}
.swiper-button-back {
  top: 700px;
  left: 320px;
}
.swiper-button-forvard {
  left: 783px;
}

.swiper-slide-mini {
  opacity: 0.8;
  transition: opacity 0.3s ease 0s;
}

.swiper-slide-mini.swiper-slide-thumb-active {
  bottom: 20px;
  opacity: 1;
}

.image-people-say-mini {
  object-fit: cover;
  width: 70px;
  height: 70px;
  margin-right: 27px;
  margin-top: 20px;
}

.swiper-button-back:hover,
.swiper-button-forvard:hover {
  background-color: #18cfab;
  border-color: #18cfab;
}

.slider-mini {
  position: absolute;
  bottom: 78px;
  width: 400px;
}
.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 1025px;
  width: 921px;
  padding-top: 80px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3px;
}
.gallery-grid-item {
  margin-right: 3px;
}

.gallery-list-two {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3px;
  margin-bottom: 16px;
}

.picture-img {
  display: block;
  object-fit: cover;
  position: relative;
}
.gallery-item {
  margin-right: 20px;
  margin-bottom: 20px;
}
.button-load-more {
  text-align: center;
  margin-bottom: 75px;
  margin-top: 52px;
}
.footer {
  background-color: #22353f;
  padding: 48px;
  color: #aeaeae;
  text-align: center;
}
.gallery-icon-group {
  position: absolute;
  top: 60px;
  left: 19px;
  display: none;
}
.gallery-icon {
  width: 25px;
}
.gallery-item,
.gallery-two-item,
.gallery-grid-item,
.gallery-item-add {
  position: relative;
}

.gallery-item:hover .gallery-icon-group,
.gallery-two-item:hover .gallery-icon-group,
.gallery-grid-item:hover .gallery-icon-group,
.gallery-item-add:hover .gallery-icon-group {
  display: block;
}
.gallery-add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0;
  height: 730px;
  width: 921px;
}
.additionally {
  display: none;
}
.gallery-item-add {
  margin-right: 20px;
  margin-bottom: 20px;
}
