.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  list-style-type: none;
  background-color: #313131;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.header-nav-li {
  padding: 35px;
}
.nav-link {
  text-decoration: none;
  color: inherit;
}
.nav-link:hover {
  color: #14b9d5;
}
.logo-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  height: 27px;
  width: 27px;
  margin-right: 27px;
  margin-left: 30px;
}
.logo-text {
  align-content: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.logo-text:hover {
  color: #14b9d5;
}
.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 70px;
  background-color: #000000;
}
.search-img {
  width: 17px;
  height: 17px;
}
.header-title {
  background-image: url(../img/header-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: center;
  padding-bottom: 74px;
}
.title {
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  padding-top: 164px;
  padding-bottom: 44px;
}
.button {
  border-radius: 5px;
  margin-right: 20px;
  padding: 16px 19px;
}
.link-btn {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
.button-first {
  background: #89ca62;
}
.button-second {
  background: #14b9d5;
}
.subtitle {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  padding: 50px 0;
}
.container {
  background-color: #f2f2f2;
  text-align: center;
}
.picture {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1170px;
  margin: auto;
  padding-bottom: 72px;
  max-height: 1030px;
  background-image: url(../img/bgr-paralax2.jpg);
  background-attachment: fixed;
}
.picture-img {
  width: 100%;
}

.picture-li {
  margin-right: 30px;
  margin-bottom: 30px;
}
.picture-img-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
  width: 370px;
  text-decoration: none;
  padding-bottom: 22px;
  padding-top: 22px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.clients {
  width: 100%;
  background-image: url(../img/client-bcg.jpg);
  padding-bottom: 191px;
  padding-top: 108px;
  background-attachment: fixed;
}
.clients-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.clients-title::after {
  content: "";
  border-bottom: 3px solid #18b4cf;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  display: block;
  margin-top: 87px;
}
.clients-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  margin-top: 106px;
}
.clients-links {
  margin-right: 58px;
}
.top-image-item {
  list-style: none;
}
.image-item {
  width: 100%;
}
.top-image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.news {
  max-width: 1170px;
  margin: auto;
  background-image: url(../img/bgr-paralax.jpg);
  background-attachment: fixed;
}
.news-posts {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "post1 post1 post1 post2"
    "post3 post3 post4 post4"
    "post5 post5 post6 post6"
    "post7 post8 post8 post8";
}
.post {
  background-color: #f9f7f7;
  margin: auto;
  list-style: none;
}
.post1 {
  grid-area: post1;
}
.post2 {
  grid-area: post2;
}
.post3 {
  grid-area: post3;
}
.post4 {
  grid-area: post4;
}
.post5 {
  grid-area: post5;
}
.post6 {
  grid-area: post6;
}
.post7 {
  grid-area: post7;
}
.post8 {
  grid-area: post8;
}
.posts-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #353a3d;
  padding: 14px;
}
.posts-title-center {
  text-align: center;
  padding-top: 41px;
}
.posts-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #5b6469;
  padding: 3px 14px;
}
.news-img {
  max-width: 100%;
}
.news-img-left {
  float: left;
}
.news-img-3,
.news-img-4,
.news-img-5,
.news-img-6 {
  width: 100%;
}
.footer {
  background-color: #000000;
  margin-top: 77px;
}
.footer-div {
  max-width: 1170px;
  display: grid;
  gap: 559px;
  grid-template-columns: 512px 105px;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
}
.footer-text {
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  padding: 30px 0;
}
.logo-img {
  margin-top: 30px;
}
