.instagram-posts {
  background-color: $-background-color-section;
  padding-top: 5%;
  padding-bottom: 50px;

  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
.instagram-posts-head-subtitle__link {
  @include text-standart;
  color: $-title-color;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}
.instagram-posts-images {
  &__link {
    text-decoration: none;
  }
  &__img {
    max-width: 100%;
    margin: 0px;
  }
}
@media screen and (max-width: 768px) {
  .instagram-posts-images__link:nth-child(4) {
    display: none;
  }
  .instagram-posts-images {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .instagram-posts-head-subtitle__link {
    display: none;
  }

  @media screen and (max-width: 320px) {
    .instagram-posts-images__link:nth-child(2),
    .instagram-posts-images__link:nth-child(3),
    .instagram-posts-images__link:nth-child(4) {
      display: none;
    }
    .instagram-posts-images {
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
  }
  .instagram-posts {
    background-color: #ffff;
  }
}
