.posts {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 69px;
  }
  &__title {
    @include text-standart;
    color: $-title-color;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
}

.main-img {
  margin-bottom: 60px;
  &__picture {
    max-width: 100%;
  }
}
.posts-item {
  display: grid;
  grid-template-columns: 30% 70%;
  &__img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__text-block {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.text-block {
  &__title {
    @include text-standart;
    font-weight: 700;
    font-size: 16px;
  }
  &__link {
    @include text-standart;
    font-weight: 400;
    font-size: 12px;
    color: #7c7c7c;
    margin-right: 5px;
  }
  &__text {
    @include text-standart;
    font-weight: 400;
    font-size: 14px;
    color: #5c5c5c;
  }
}
.text-block-title__link {
  @include text-standart;
  color: $-title-color;
}
@media screen and (max-width: 768px) {
  .posts__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .posts-item {
    grid-template-columns: 40% 60%;
  }
}

@media screen and (max-width: 320px) {
  .text-block__text {
    display: none;
  }
  .posts-item {
    display: flex;
    flex-direction: column;

    &__text-block {
      margin-left: 0;
    }
    &__img {
      width: 60%;
    }
  }
}
