@import "./variables";
@import "./mixins";
@import "./main-posts";
@import "./main-inst-posts";
@import "./footer";
.container {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-wrap .hamb-menu {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 5%;

  &__item {
    display: flex;
    align-items: stretch;
    font-style: normal;
    font-size: 11px;
    @include hamb-li-style;
  }
}
.navbar-wrap .hamb-menu__item a {
  align-items: center;
  text-decoration: none;
  color: $-title-color;
  padding: 10px 0px 10px 0px;
}

.hamb-menu__item.active a {
  color: $-accent-color;
}
.navbar-wrap {
  height: 100%;
}
.popup {
  display: none;
}
.hamb {
  display: none;
}
.popup .hamb-menu__item:hover {
  background-color: $-hamb-item-hover-background;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 320px) {
}
@media screen and (max-width: 490px) {
  .navbar-wrap .hamb-menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-shrink: 1;
    &__field {
      padding: 13px 14px;
      cursor: pointer;
      background-color: black;
      margin: 16px 0px 16px 16px;
    }
  }
  .bar {
    display: block;
    width: 17px;
    height: 2px;
    margin: 2px auto;
    background-color: #ffff;
    transition: 0.2s;
  }
  .popup {
    position: absolute;
    top: 60px;
    height: 100px;
    min-width: 182px;
    min-height: 208px;
    background-color: $-hamb-background;
    z-index: 100;
    transition: 0.3s;
    color: aqua;
  }
  .popup.open {
    right: 0;
    display: flex;
  }
  .popup .hamb-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .popup .hamb-menu__item {
    @include hamb-li-style;
    padding: 4px;
    font-size: 14px;
  }
  .popup .hamb-menu__item:hover {
    background-color: $-hamb-item-hover-background;
  }
  .popup .hamb-menu__item.active a {
    color: $-accent-color;
  }
  .popup .hamb-menu__item a {
    text-decoration: none;
    color: $-title-color;
  }
}
