.container {
  width: 1028px;
  margin-right: auto;
  margin-left: auto;
}
body {
  background-image: url(../img/background\ 1.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 100% 100%;
}
.logo-svg {
  fill: #ffffff;
}
.logotype:hover .logo-svg {
  fill: #f26522;
}

.logo-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}
.logo-span {
  font-size: 18px;
  line-height: 18px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 51px;
  margin-bottom: 26px;
}
.logo-link {
  display: flex;
  align-items: flex-end;
}
a[href="tel:+39 338 709 0880"] {
  color: inherit;
  text-decoration: none;
}
.feedback {
  text-align: end;
}
.contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.contacts-number {
  color: #ffffff;
  margin: 19px 0;
}
.contacts:hover {
  color: #f26522;
}
.logotype:hover .logo-text {
  color: #f26522;
}
.tours-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat (2, auto);
  gap: 37px;
}
.price {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  display: inline-block;
}
.euro {
  margin-top: 8px;
  display: flex;
  font-size: 20px;
  line-height: 20px;
}
.details {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  display: inline;
  padding-left: 128px;
}
.details::after {
  content: "\203A";
  margin-left: 16px;
}
.tours-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
}
.tours-link:hover .tours-title {
  color: #f26522;
}
.tours-img {
  object-fit: cover;
  max-width: 100%;
}
.tours-item {
  position: relative;
}
.tours-description {
  width: 300px;
  opacity: 0;
  max-width: 100%;
  position: absolute;
  top: 185px;
  padding: 10px 0 12px 17px;
}
.tours-item:hover .tours-description {
  opacity: 100%;
  width: 300px;
  max-width: 100%;
  position: absolute;
  top: 185px;
  background-color: #f26522;
  padding: 10px 0 12px 17px;
  transition: all;
  transition-duration: 0.7s;
  transform: translateY(-20px);
}
.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  margin-top: 49px;
  padding-bottom: 15px;
}
